<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,initial-scale=1.0,
maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            background: url("https://lms.tuit.uz/assets/images/study.svg") no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
<form action="/register" method="post">
   <button type="submit" name="Mening fanlarim" >Mening Fanlarim</button>
</form>
<form action="/register/jadval" method="get">
    <button type="submit" name="Dars jadvali">Dars Jadvali</button>
</form>
</body>
</html>