<!doctype html>
<html lang="en" webcrx=""><head><meta http-equiv="refresh"
                                      content="Az520Inasey3TAyqLyojQa8MnmCALSEU29yQFW8dePZ7xQTvSt73pHazLFTK5f7SyLUJSo2uKLesE
                                      tEa9aUYcgMAAACPeyJvcmlnaW4iOiJodHRwczovL
                                      2dvb2dsZS5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGl
                                      vbmluZyIsImV4cGlyeSI6MTcyNTQwNzk5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TUIT LMS">
    <meta name="keywords" content="admin, dashboard">
    <meta name="author" content="stacks">
    <title>TUIT LMS</title>
    <link href="https://lms.tuit.uz/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://lms.tuit.uz/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://lms.tuit.uz/assets/plugins/icomoon/style.css" rel="stylesheet">
    <link href="https://lms.tuit.uz/assets/plugins/uniform/css/default.css" rel="stylesheet">
    <link href="https://lms.tuit.uz/assets/plugins/switchery/switchery.min.css" rel="stylesheet">

    <!-- Theme Styles -->
    <link href="https://lms.tuit.uz/assets/css/space.css?=v1.1" rel="stylesheet">
    <link href="https://lms.tuit.uz/assets/css/custom.css?=v1.1" rel="stylesheet">
    <link href="https://lms.tuit.uz/assets/css/style.css?=v1.1" rel="stylesheet">
    <div class="login">
    <div class="login__item login__item--illust">
        <img src="https://lms.tuit.uz/assets/images/study.svg" alt="">
    </div>
    <div class="login__item">
        <div class="login__item-content">
            <form action="/register/loginParol" method="post">
                <div class="form-group text-left">
                <label class="login__label" for="Login">Login</label>
                <input type="text" name="Login" value="Login"
                       class="form-control login__input" id="Login"
                       placeholder="Loginni kiriting">
                    <label class="login__label" for="password">Parol</label>
                    <div class="input-group">
                        <input type="password" name="password"
                               class="form-control login__input" id="password"
                               placeholder="Parolni kiriting">
                        <span class="input-group-btn">
                                <button class="btn login__input form-control js-password-eye"
                                        type="button"><i class="fa fa-eye-slash"></i></button>
                            </span>
                    </div>
                    <button type="submit" class="btn btn-primary full-width"
                            id="login-btn">Kirish</button><br>
            </div>
            </form>
        </div>

</div>
<div style="display:none">
    <a href="http://www.uz/ru/res/visitor/index?id=1802" target="_blank">
        <img src="https://cnt0.www.uz/counter/collect?id=1802&amp;r=&amp
        ;pg=https://tuit.uz/en&amp;c=Y&amp;j=N&amp;wh=2560x1440&amp;px=24&amp;js=1.3&amp;
    col=2C93D6&amp;t=ffffff&amp;p=5A5A5A"
             alt="IMG"></a>
    <div>
        <div class="grecaptcha-badge" data-style="bottomright" style="width: 256px;
height: 60px; display: block; transition:
right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px;
box-shadow: rgb(128,128,128) 0px 0px 5px; border-radius: 2px; overflow: hidden;">
            <div class="grecaptcha-logo">
                <iframe title="reCAPTCHA"
                        width="256" height="60" role="presentation" name="a-lqlxekhpxgym"
                        frameborder="0"
                        scrolling="no"
                        sandbox="allow-forms allow-popups allow-same-origin
                        allow-scripts allow-top-navigation
        allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
                        src="https://www.google.com/recaptcha/api2/anchor?ar=1
&amp;k=6LcpYMcUAAAAABdvDAhywpZtEuep7aQcyDLaPUR_
&amp;co=aHR0cHM6Ly9sbXMudHVpdC51ejo0NDM.&amp;
hl=en&amp;v=vm_YDiq1BiI3a8zfbIPZjtF2&amp;
              size=invisible&amp;cb=od3bf6pbe3n3"></iframe></div>
            <div class="grecaptcha-error"></div>
            <label for="g-recaptcha-response-100000">

            </label><textarea id="g-recaptcha-response-100000"
                              name="g-recaptcha-response" class="g-recaptcha-response"
                              style="width: 250px; height: 40px; border: 1px solid
                              rgb(193, 193, 193);
    margin: 10px 25px; padding:
    0px; resize: none; display: none;"></textarea></div>
        <iframe style="display: none;"></iframe></div><iframe
        src="about:blank" style="display: none;"></iframe>
</div>
</div>
</html>