<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/admin" method="post">
    <label>DayOfWeek
        <input name="day" placeholder="day" type="number">
    </label>
    <br>
    <label>hour
        <input name="hour" placeholder="hour" type="number">
    </label>
    <br>
    <label>minut
        <input name="minut" placeholder="minut" type="number">
    </label>
    <br>
    <button type="submit">Add</button>
</form>
</body>
</html>